.mainDiv {
  height: 500px;
  width: 100%;
  background-color: #78e08f;
  text-align: center;
}
.formDiv {
  padding: 20px;
}
.inpt {
  margin: 20px;
  height: 50px;
  width: 300px;
  text-align: center;
  border-radius: 20px;
}
.cardWrapper {
  background-color: #fa983a;
  padding: 50px;
}
.mycard {
  display: flex;
}
.card {
  margin: 25px;
  border-radius: 20px;
}
.card:hover {
  box-shadow: 0px 2px 18px 17px
    linear-gradient(to bottom right, rgb(1rgb (14, 14, 2) 2), yellow);
}

.features {
  padding: 20px;
}
img {
  padding: 15px;
  border-radius: 26px;
  height: 200px;
}
/* .like_P {
  position: relative;
  top: -36px;
  left: 128px;
} */
.dislike_icon {
  position: relative;
  left: 0px;
}
.disunlike_icon {
  position: relative;
  left: 0px;
}
.commentIcon {
  margin: 8px;
}
.LikeDiv {
  margin: 10px;
}
.unlikeDiv {
  margin: 10px;
}
.unlike_p {
  margin-top: 0;
  margin-bottom: 1rem;
  position: relative;
  bottom: 31px;
  left: 26px;
}
.bt {
  margin: 20px;
}
.favrt_div {
  border: 3px solid greenyellow;
}
.favIcon {
  height: 35px;
  width: 35px;
}
.a {
  background-color: rgba(202, 15, 171, 0.836);
}

.shr {
  position: relative;
  bottom: 20px;
}
.comments {
  color: #070505;
  height: 30px;
  width: 30px;
}
.commentinput {
  position: absolute;
  bottom: 26px;
  left: 3px;
  border-radius: 20px;
  height: 41px;
  text-align: center;
}
.sendIcon {
  position: absolute;
  bottom: 30px;
  right: 29px;
  height: 33px;
  width: 38px;
  color: rgb(153, 35, 143);
}
.commentsDiv {
  position: absolute;
  bottom: -21px;
  z-index: 1;
  left: 41px;

  width: 185px;
  text-align: center;
  border-radius: 10px;
}
.comment_P {
  border: 2px solid rgb(143, 130, 130);
  height: auto;
  background-color: deepskyblue;
  border-radius: 20px;
}
.shareIcn {
  height: 32px;
  width: 44px;
  position: absolute;
  right: 7px;
  bottom: 580px;
}

/* instagram design------------- */

.card {
  /* margin-left: 5px; */
  /* justify-content: center; */
  font-size: 1.3em;
  transition: 0.5s;
  /* padding: 0.7em; */
  color: #040708;
  background-color: #e118b657;
  border-radius: 10%;
  border: 3px solid red;
}

.intgrm {
  --x: 0px;
  background-size: var(--x) !important;
  background-color: hsl(60, 19%, 92%) !important;
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}
.intgrm:hover {
  --x: 300%;
  color: rgb(22, 13, 13);
}
